body {
    background-color: #232627;
    font-family: Courier;
    font-size: 12pt;
}

table,
td,
th {
    border: 1px solid #1D2021;
}

th {
    color: #2374FF;
    background-color: #1D2021;
    font-size: 12pt;
}

table {
    margin-left: 15px;
}

h2 {
    font-family: Tahoma;
    color: #6D7B8D;
}

h1 {
    color: #ED365B;
}

h5 {
    color: #DC143C;
}

p {
    color: #C1BCB4;

}